[Unit]
Description=Synchronisation du catalogue ARCenal
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/arcenal-store/synchroniser-catalogue
